apiVersion: kro.run/v1alpha1
kind: ResourceGraphDefinition
metadata:
  name: mysqlappstacks.kro.run
spec:
  schema:
    apiVersion: v1alpha1
    kind: MysqlAppStack
    spec:
      name: string | default="demo"
      namespace: string | default="demo"
      compartmentId: string
      subnetId: string
      shapeName: string | default="MySQL.2"
      availabilityDomain: string | default="Vihs:EU-FRANKFURT-1-AD-1"
      adminPasswordSecret: string
  resources:
    - id: mysqlDb
      template:
        apiVersion: mysql.oci.upbound.io/v1alpha1
        kind: MysqlDbSystem
        metadata:
          name: ${schema.spec.name}
          # Matches your working labels
          labels:
            testing.upbound.io/example-name: ${schema.spec.name}-label
        spec:
          writeConnectionSecretToRef:
            name: ${schema.spec.name}-mysql-conn
            namespace: ${schema.spec.namespace}
          forProvider:
            availabilityDomain: ${schema.spec.availabilityDomain}
            compartmentId: ${schema.spec.compartmentId}
            shapeName: ${schema.spec.shapeName}
            displayName: ${schema.spec.name}
            subnetId: ${schema.spec.subnetId}
            adminUsername: "admin"
            adminPasswordSecretRef:
              name: ${schema.spec.adminPasswordSecret}
              namespace: ${schema.spec.namespace}
              key: MYSQL_PASSWORD

    - id: mysqlConnSecret
      template:
        apiVersion: v1
        kind: Secret
        metadata:
          name: ${schema.spec.name}-endpoint
          namespace: ${schema.spec.namespace}
        type: Opaque
        stringData:
          # This line makes KRO wait for the DB to be active in OCI
          host: ${mysqlDb.status.atProvider.endpoints[0].ipaddress}
          port: "3306"