apiVersion: kro.run/v1alpha1
kind: ResourceGraphDefinition
metadata:
  name: redisgraph
spec:
  schema:
    apiVersion: v1alpha1
    kind: OCIDataStack
    spec:
      compartmentId: string
      subnetId: string
      appImage: string
  resources:
    # 2. Redis Resource
    - id: redisCluster
      template:
        apiVersion: redis.oci.upbound.io/v1alpha1
        kind: RedisCluster
        spec:
          forProvider:
            compartmentId: ${schema.spec.compartmentId}
            subnetId: ${schema.spec.subnetId}
            nodeCount: 1
            memorySizeInGBs: 2