apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: 30-provider-config
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "30"
spec:
  project: platform
  source:
    repoURL: REPO_URL
    targetRevision: main
    path: apps/30-provider-config/manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: crossplane-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
