apiVersion: mysql.sql.crossplane.io/v1alpha1
kind: User
metadata:
  name: main-go-app-user
spec:
  forProvider:
    # Fixes the 'admin'@'10.0.28.170' error by allowing the whole 10.0.x.x range
    user: demo
    host: "10.0.%" 
    passwordSecretRef:
      name: mysql-admin-creds
      namespace: crossplane-system
      key: password
  providerConfigRef:
    name: sql-config

---

apiVersion: mysql.sql.crossplane.io/v1alpha1
kind: Grant
metadata:
  name: main-go-app-grant
spec:
  forProvider:
    user: demo
    host: "10.0.%"
    database: demo # Matches DB_NAME in your main.go
    privileges:
      - ALL PRIVILEGES
  providerConfigRef:
    name: sql-config