apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: 80-demo-stack
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "80"
spec:
  project: platform
  source:
    repoURL: https://github.com/ronsevetoci/argocd.git
    targetRevision: main
    path: apps/80-demo-stack-helm
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: demo
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
