apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: 50-gatewayapi-crds
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "50"
spec:
  project: platform
  source:
    repoURL: https://github.com/ronsevetoci/argocd.git
    targetRevision: main
    path: manifests/50-gatewayapi-crds
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      # - CreateNamespace=true
      # IAM resources are often CRDs; this avoids early dry-run failures:
      - SkipDryRunOnMissingResource=true
