apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: 05-karpenter
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  project: platform
  source:
    repoURL: https://phx.ocir.io/id9y6mi8tcky
    chart: karpenter-provider-oci
    targetRevision: "0.1.107"
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: karpenter
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
