apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo-rgd
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "80"
spec:
  project: platform
  source:
    repoURL: https://github.com/ronsevetoci/argocd.git
    targetRevision: main
    path: manifests/stacks/demo/rgd
  destination:
    server: https://kubernetes.default.svc
    namespace: demo
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
