apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.settings.instanceTypeMetaConfigMapName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "karpenter.labels" . | nindent 4 }}
  {{- with .Values.additionalAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
data:
  ociShapeMeta: |
    {{- .Files.Get "config/oci-shape-meta.json" | nindent 4 }}
