apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-api
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: demo-api
  template:
    metadata:
      labels:
        app: demo-api
    spec:
      containers:
        - name: api
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8080
              name: http
          env:
          - name: REDIS_HOST
            valueFrom:
              secretKeyRef:
                name: {{ .Values.connections.redis.secretName }}
                key: {{ .Values.connections.redis.hostKey }}
          - name: REDIS_PORT
            valueFrom:
              secretKeyRef:
                name: {{ .Values.connections.redis.secretName }}
                key: {{ .Values.connections.redis.portKey }}
