apiVersion: kro.run/v1alpha1
kind: ResourceGraphDefinition
metadata:
  name: redis-appstack
spec:
  schema:
    apiVersion: v1alpha1
    kind: RedisAppStack
    spec:
      name: string | default="demo"
      namespace: string | default="demo"

      compartmentId: string
      subnetId: string

      nodeCount: float | default=1
      nodeMemoryInGbs: float | default=2
      softwareVersion: string | default="REDIS_7_0"

    status:
      redisFqdn: ${redisCluster.status.atProvider.primaryFqdn}
      redisState: ${redisCluster.status.atProvider.state}

  resources:
    - id: redisCluster
      template:
        apiVersion: redis.oci.upbound.io/v1alpha1
        kind: RedisCluster
        metadata:
          name: ${schema.spec.name}-redis
        spec:
           forProvider:
            compartmentId: ${spec.compartmentId}
            displayName: ${spec.name}-redis
            subnetId: ${spec.subnetId}
            nodeCount: ${spec.nodeCount}
            nodeMemoryInGbs: ${spec.nodeMemoryInGbs}
            softwareVersion: ${spec.softwareVersion}
        providerConfigRef:
            name: default
      readyWhen:
        - ${redisCluster.status.conditions.exists(c, c.type == "Ready" && c.status == "True")}

    - id: redisConnSecret
      template:
        apiVersion: v1
        kind: Secret
        metadata:
          name: ${schema.spec.name}-redis-conn
          namespace: ${schema.spec.namespace}
        type: Opaque
        stringData:
            host: ${redisCluster.status.atProvider.primaryFqdn}
            port: "6379"

