apiVersion: v1
kind: Service
metadata:
  name: demo-api
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: demo-api
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
