apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gateway-objects
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "25"
spec:
  project: platform
  source:
    repoURL: https://github.com/ronsevetoci/argocd.git
    targetRevision: main
    path: manifests/gatewayapi-objects
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      # - CreateNamespace=true
      # IAM resources are often CRDs; this avoids early dry-run failures:
      - SkipDryRunOnMissingResource=true
