apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: 40-iam-karpenter
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "40"
spec:
  project: platform
  source:
    repoURL: https://github.com/ronsevetoci/argocd.git
    targetRevision: main
    path: manifests/40-iam-karpenter
  destination:
    server: https://kubernetes.default.svc
    namespace: crossplane-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      # - CreateNamespace=true
      # IAM resources are often CRDs; this avoids early dry-run failures:
      - SkipDryRunOnMissingResource=true
